.item:hover {
  cursor: pointer;
}

.filters {
  a {
    color: #ffffff;
  }
}

.filters:hover {
  cursor: pointer;
  a {
    color: darken($color: #ffffff, $amount: 15);
  }
}

.th-sort {
}

.th-sort:hover {
  cursor: pointer;
}
