.item {
}

.item:hover {
  cursor: pointer;
}

.filters {
  a {
    color: #ffffff;
  }
}

.filters:hover {
  cursor: pointer;
  a {
    color: darken($color: #ffffff, $amount: 15);
  }
}

.control-panel {
  border: solid 0.1rem gray;
  border-radius: 0.25rem;
}
